/* My Variables */
:root {
  --background-green: #009688;
  --background-grey: #d9dbd5;
  --side-header: #ededed;
  --side-header-icon: #51585c;
  --chat-icons: rgba(0, 0, 0, 0.3);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  font-size: 1rem;
}

body {
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, "Lucida Grande", Arial,
    Ubuntu, Cantarell, "Fira Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(12) 1fr;
  grid-template-rows: 127px 1fr;
}

.top {
  background: var(--background-green);
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.bot {
  background: var(--background-grey);
  grid-column: 1 / -1;
  grid-row: 2 / -1;
}

.app {
  display: grid;
  grid-template-columns: 420px 1fr;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  width: 1396px;
  margin: 1rem auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.side {
  background: white;
  grid-column: 1 / 2;
  /* border: 1px solid rgba(0, 0, 0, 0.2); */
}

.side-header {
  background: var(--side-header);
  display: flex;
  justify-content: space-between;
  height: 59px;
  padding: 10px 16px;
}

.side-header > img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.side-head-icons {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  color: var(--side-header-icon);
}

.side-head-icons svg:active {
  background-color: rgba(0, 0, 0, 0.1);
  transition: background-color 0.1s ease;
  border-radius: 50%;
  box-shadow: 0 0 1px 8px rgba(0, 0, 0, 0.1);
}

.side-head-icons svg:nth-child(2) {
  margin: 0 30px;
}

.side-search {
  background: #f6f6f6;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.search-bar {
  display: flex;
  align-items: center;
  padding: 7px 10px;
}

.search-bar > svg {
  position: absolute;
  background: white;
  color: var(--side-header-icon);
  margin-left: 10px;
}

.search-bar > input {
  border: none;
  outline: none;
  padding-right: 32px;
  padding-left: 65px;
  height: 35px;
  width: 100%;
  font-family: "Segoe UI";
  border-radius: 20px;
}

.search-bar > input::placeholder {
  line-height: 20px;
  color: #a4a4a4;
  font-size: 14px;
}

.chats {
  height: 550px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.archive {
  display: flex;
  align-items: center;
  height: 49px;
  padding: 0 14px;
  cursor: pointer;
}

.archive-left {
  display: flex;
  width: 49px;
  height: 49px;
  align-items: center;
  justify-content: center;
}

.archive-right {
  display: flex;
  flex: 1;
  justify-content: left;
  align-items: center;
  width: 286px;
  height: 49px;
}

.archive-right > span {
  padding: 0 15px 0 13px;
  font-size: 17px;
  color: #000;
}

.archive-end {
  background-color: initial;
}

.archive-end > span {
  color: #06d755;
  font-size: 12px;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-right: 5px;
}

.chats::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}

.chats::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

.chat {
  display: flex;
  align-items: center;
  background: white;
  cursor: pointer;
  z-index: 1000;
  padding: 7px 0px;
  
}

.chat:hover {
  background-color: #f5f5f5;
}

.chat:hover .chat-settings {
  display: initial;
}

.chat-active {
  background-color: #ebebeb !important;
}

.chat-left > img {
  height: 49px;
  width: 49px;
  position: relative;
  background-color: #e6e6e6;
  border-radius: 50%;
}

.chat-left {
  padding: 0 15px 0 13px;
}

.chat-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 1px;
  padding-right: 15px;
  padding-bottom: 10px;
  
}

.chat-right, .archive-right {
  border-bottom : 1px solid #f2f2f2;
}

.chat-right-top {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 5px;
}

.chat-date {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.45);
}

.contact-name {
  font-size: 17px;
  font-weight: 400;
  color: #000;
}
.contact-name-unread {
  font-size: 17px;
  font-weight: 500;
  color: #000;
}


.chat-message-typing,
.chat-message-group,
.chat-message-image,
.chat-message {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  
}

.chat-message{
  color: rgba(0,0,0,0.6);
}


.chat-message,
.chat-message-group {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 280px;
}

.chat-message-group {
  font-weight: 500;
}

.chat-message-typing {
  font-weight: 500;
  color: #06d755;
}

.chat-right-bottom {
  display: flex;
}

.chat-right-bottom-left {
  display: flex;
  align-items: flex-end;
  flex: 1;
}

.chat-right-bottom-right {
  display: flex;
  align-items: center;
}

.unread-messages-number {
  width: 20.4px;
  display: inline-block;
  text-align: center;
  background-color: #06d755;
  padding: 3.6px 4.8px 4.8px 4.8px;
  border-radius: 50%;
  color: white;
  font-size: 12px;
  font-weight: 600;
  line-height: 1em;
}

.chat-settings{
  display: none;
  margin-left: 5px;
}

.double-check {
  margin-right: 3px;
}

.chat-message-image {
  padding-left: 2px;
  color: #51585c;
}

.main{
 grid-column: 2 / -1;
 position: relative;
 background: url('../images/background.png') fixed;
 background-size: 520px;
}

.main-chat-sidebar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--side-header);
  border-left: 1px solid rgba(0, 0, 0, 0.08);
  padding: 10px 16px;
  height: 59px;
  cursor: pointer;
}

.main-chat-sidebar-left {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.main-chat-sidebar-left > img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  
}

.contact-name-status {
  padding: 0 0 0 15px;
}

.main-chat-contact-name {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #000;
}

.main-chat-status {
    min-height: 20px;
    font-size: 13px;
    line-height: 20px;
    color: #5F5F5F;
}

.main-chat-sidebar-right{
  display: flex;
  color: #51585c;
  cursor: pointer;
}

.main-chat-sidebar-right svg:active {
  background-color: rgba(0,0,0,.1);
  border-radius: 50%;
  box-shadow: 0 0 1px 8px rgba(0, 0, 0, 0.1);
}


.main-chat-sidebar-right > div {
  padding: 8px;
}
